<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logopequeapolo.png">
    <title>APOLOdx</title>

    <!--link referencia a estilo del menu-->
    <link rel="stylesheet" href="../style.css" />
</head>
<body>
    <header>    
    <div class="logo">
            <a href="../index.html">
                <img src="../img/logoapolo.png" alt="logo apolodx" width="100">
            </a>
        </div>
        <nav>
            <ul Class="menu">
                <li><a href="../views/productos.html">Productos</a></li>
                <li><a href="../views/nosotros.html">Nosotros</a></li>
                <li><a href="../views/plataforma.html">Plataforma</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
                <li><a href="../views/FAQ.html">FAQ</a></li>
            </ul>
        </nav>
        </header>
        

    <section>
    
        <div class="NP">
            <h3>
                <Nav>NUESTROS PRODUCTOS</Nav>
            </h3>
        </div>
        <img src="../img/plataanimado.png" alt="productos de la plataforma" width="600">
        <div>
            <ul Class="NP1">
                <div class="productos">
                    <li>Arrendamiento</li>
                </div>
                <div class="productos">
                    <li>Factoraje</li>
                </div>
                <div class="productos">
                    <li>PYME</li>
                </div>
                <div class="productos">
                    <li>Lineas Personales</li>
                </div>
                <div class="productos">
                    <li>Lineas Revolventes</li>
                </div>
                <div class="productos">
                    <li>Crédito Hipotecario</li>
                </div>
                <div class="productos">
                    <li>Crédito Simple</li>
                </div>
                <div class="productos">
                    <li>Agroindustria</li>
                </div>
                <div class="productos">
                    <li>Crédito Puente</li>
                </div>
                <div class="productos">
                    <li>Nomina</li>
                </div>
                <div class="productos">
                    <li>Inversiones</li>
                </div>
                <div class="productos">
                    <li>Telecomunicaciónes</li>
                </div>
        </div>
    
    
    </section>
        
        <!--INICIO DEL COMPARADOR-->
        <section>
            <div>
                <h1>
                    Ventaja de nuestros productos
                </h1>
                <ul Class="CP">

                </ul>
                <h3>
                Competencia
                </h3>
                <li>La comptencia 1</li>
                <li>La comptencia 2</li>
                <li>La comptencia 3</li>
                <li>La comptencia 4</li>
                <li>La comptencia 5</li>

                <h3>
                Nosotos
                </h3>
                <li>Ventaja 1</li>
                <li>Ventaja 2</li>
                <li>Ventaja 3</li>
                <li>Ventaja 4</li>
                <li>Ventaja 5</li>
                </div>
            
        </section>

        <!--INICIO DEL TIPOS DE CLIENTES-->
        <section>
            <div>
                <h1>
                    TIPOS DE CLIENTES
                </h1>
                <ul Class="TC"></ul>
                <h2>
                    BROKER
                </h2>
                <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quod numquam quae nesciunt tenetur quo voluptatum saepe maxime, eum aliquid, odit modi totam animi dolorem blanditiis consectetur adipisci. Eius, asperiores!</P>
                <h2>
                    DISTRIBUIDOR
                </h2>
                <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione facere, sed sequi obcaecati aspernatur excepturi quidem exercitationem odit nobis suscipit quos libero expedita ex laudantium eligendi soluta, amet sapiente non!</P>
                <h2>
                    FINANCIERA
                </h2>
                <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione facere, sed sequi obcaecati aspernatur excepturi
                quidem exercitationem odit nobis suscipit quos libero expedita ex laudantium eligendi soluta, amet sapiente non!</P>

                <h3>CREAR UNA CUENTA</h3>
            </div>
            </div>
        </section>
        </article>

        <!--Empieza el footer-->
        <section>
            <div class="logo">
                <a href="../index.html">
                    <img src="../img/logoapolo.png" alt="logo apolodx" width="100">
                </a>
            </div>
            <h2>
                DATOS DE LA EMPRESA
            </h2>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam laudantium iure esse doloribus
            <br>
            tempore recusandae eius dolores? Itaque, laboriosam dolorem a velit consequatur recusandae debitis odio non!
            Facilis, minima quidem.
            <br>
            <br>
            <li>
                DATOS DE PRODUCTOS
            </li>
            <li>
                DATOS DE NOSOTROS
            </li>
            <br>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14929.109763864728!2d-103.37028165!3d20.6989555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae3a55454671%3A0xa0746487dcb9b9d!2sGlorieta%20Col%C3%B3n!5e0!3m2!1ses!2smx!4v1653402663154!5m2!1ses!2smx"
                width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>"
            <ul Class="menu">
            <li><a href="../views/productos.html">Productos</a></li>
            <li><a href="../views/nosotros.html">Nosotros</a></li>
            <li><a href="../views/plataforma.html">Plataforma</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
            <li><a href="../views/FAQ.html">FAQ</a></li>
                <li><a href="#terminos y condiciones">Terminos y condiciones</a></li>
                <li><a href="#Aviso de privacidad">Aviso de privacidad</a></li>
            </ul>
        </section>
</body>
</html>